@model IEnumerable<ThueXeTrucTuyen.Models.DanhGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Thêm", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.so_sao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.binh_luan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_danh_gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.ho_ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Xe.ten_xe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.so_sao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.binh_luan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_danh_gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.ho_ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Xe.ten_xe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
