@model MILANO_64131856.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    /* Container chính để căn giữa màn hình */
    .form-container {
        width: 50%; /* Chỉnh chiều rộng của form */
        margin: 50px auto; /* Canh giữa form */
        padding: 20px;
        border: 1px solid #ccc; /* Viền cho form */
        border-radius: 10px; /* Bo góc */
        background-color: #f9f9f9; /* Màu nền */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    }

    /* Các phần tử trong form */
    .form-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    /* Nút xóa */
    .btn-danger {
        background-color: #d9534f;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
    }
    h2 {
        color: red;
    }

    /* CSS cho nút quay lại */
    .back-link {
        display: inline-block;
        background-color: #28a745; /* Xanh lá */
        color: white; /* Màu chữ */
        padding: 10px 15px; /* Padding */
        border-radius: 5px; /* Bo góc */
        text-decoration: none; /* Gỡ bỏ gạch chân */
        font-weight: bold; /* Đậm chữ */
        border: none; /* Gỡ bỏ viền */
        transition: background-color 0.3s, transform 0.3s;
    }

        .back-link:hover {
            background-color: #218838; /* Xanh lá đậm */
            transform: translateY(-3px);
            color: white; /* Màu chữ */
        }

</style>
<div class="form-container">
    <h2>Bạn có chắc chắn muốn xóa sản phẩm này không?</h2>
    <div>
        <h4>Thông tin sản phẩm</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Tên sản phẩm</dt>
            <dd>@Html.DisplayFor(model => model.TenSanPham)</dd>

            <dt>Giá bán</dt>
            <dd>@Html.DisplayFor(model => model.GiaBan)</dd>

            <dt>Số lượng tồn</dt>
            <dd>@Html.DisplayFor(model => model.SoLuongTon)</dd>

            <dt>Ảnh sản phẩm</dt>
            <dd> <img style="width:160px;" src="@Url.Content("~/Images/" + Model.AnhSanPham)" alt="Ảnh sản phẩm" /></dd>

            <dt>Loại sản phẩm</dt>
            <dd>@Html.DisplayFor(model => model.LoaiSanPham.TenLoai)</dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" />
            </div>
        }

    </div>
</div>
@Html.ActionLink("Quay Lại", "Index", new { }, new { @class = "back-link" })
