@model ThueXeTrucTuyen.Models.Xe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Xe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_xe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_xe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bien_so)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bien_so)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nam_san_xuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nam_san_xuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loai_xe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loai_xe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia_thue_ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia_thue_ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinh_xe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinh_xe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trang_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangXe.ten_hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangXe.ten_hang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
